ul {
	width: 200px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #eeeeee;
}
li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #000000;
}
li {
	text-align: center;
}
li:last-child {
	border-bottom: none;
}
li a.active {
	color: #ffffff;
	background-color: #da3c41;
}
li a:hover:not(.active) {
	color: #ffffff;
	background-color: #1b2538;
}
#header
{padding:10px;
background-color:#fafaf0;
color:#000}
#header h1{font-size:24px;}
#content{width:100%}
#main{float:right;
width:760px;}
#side{float:left;
width:200px;
background-color:#82c88f;}
#footer{
    clear:both;
    background-color:#b83688;
}